body{
	background-color: #6FB98F;
	font-family: 'Inconsolata', monospace;
}

a {
	color: #fff;
	font-size: 17px;
}

.navbar{
	background-color: #004445;
	border: solid 1px #004445;
	color: #fff;
}

.navButton {
	color: #6FB98F;
}

.navbar-brand {
	color: #fff;
}

.jumbotron{
	text-align: center;
	background: url("../images/IMG_0139.jpg");
}

.panel-body {
	background-color: #2C7873;
	color: #fff;
}

.modal-header{
	background-color: #021C1E;
	color: #6FB98F;
}

.btn{
	color: #004445;
	font-size: 15px;
}

#panelHead{
	background-color: #021C1E;
	color: #6FB98F;
	font-size: 25px;
}



